@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.welcome_background {
  background-image: linear-gradient(to bottom,rgba(54, 52, 52, 0.588), rgba(29, 82, 180, 0.479)), url('/images/welcomeBackground.webp');
  background-position: left 40% top 10%;
  background-size: cover;
}


.home_background {
  background-image: linear-gradient(to bottom,rgba(54, 52, 52, 0.588), rgba(29, 82, 180, 0.479)), url('/images/homeBackground.webp');
  background-position: bottom 20% center;
  background-size: cover;
}

.blue_button {
  background-color:  rgb(2, 132, 199);
  color: white;
  letter-spacing: 1.1px;
  flex: 1 1 0;
  padding: 4px 0;
  cursor: pointer;
  transition: all .3s;
}

.blue_button:hover {
  background-color: rgba(2, 133, 199, 0.564);
}